.iphone {
  background: linear-gradient(
    180deg,
    rgba(3, 89, 199, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  min-width: 390px;
  min-height: 844px;
  position: relative;
}

.iphone .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 203px;
}

.iphone .hello-there-my-name {
  position: absolute;
  top: 431px;
  left: 30px;
  width: 231px;
  height: 145px;
}

.iphone .fun-fact-i-started {
  position: absolute;
  top: 576px;
  left: 202px;
  font-family: "League Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.iphone .vector {
  position: absolute;
  width: 54.62%;
  top: calc(50.00% - 90px);
  left: 45.38%;
  height: 40px;
  aspect-ratio: 0.87;
}

.iphone .img {
  position: absolute;
  width: 31.28%;
  top: calc(50.00% - 84px);
  left: 68.72%;
  height: 31px;
  aspect-ratio: 1.3;
}

.iphone .group {
  position: absolute;
  top: 101px;
  left: 110px;
  width: 172px;
  height: 204px;
}

.iphone .ellipse {
  position: absolute;
  top: 17px;
  left: 0;
  width: 170px;
  height: 170px;
}

.iphone .TS {
  position: absolute;
  top: 73px;
  left: 31px;
  width: 105px;
  height: 62px;
}

.iphone .youtube {
  position: absolute;
  width: 79.23%;
  top: calc(50.00% - 82px);
  left: 20.77%;
  height: 28px;
  aspect-ratio: 1.43;
}